%h1 Patient

= link_to "Add New Patient", new_patient_path

%h4 These are the patients waiting

%ul
- @patients.each do |patient|
  %li
    =patient.name
    =patient.description
    =link_to 'Show Patient', patient_path(patient)
    |
    =link_to 'Edit Patient', edit_patient_path(patient)
    |
    - if patient.workflow_state == 'waiting'
      = link_to "Patient", waiting_patient_path(patient), method: :patch
    - elsif patient.workflow_state == 'doctor'
      = link_to "Doctor", doctor_patient_path(patient), method: :patch
    - elsif patient.workflow_state == 'xray'
      = link_to "Xray", xray_patient_path(patient), method: :patch
    - elsif patient.workflow_state == 'surgery'
      = link_to "Surgery", surgery_patient_path(patient), method: :patch
    - elsif patient.workflow_state == 'leaving'
      = link_to "Leaving", leaving_patient_path(patient), method: :patch
    - elsif patient.workflow_state == 'billpay'
      = link_to "Billpay", billpay_patient_path(patient), method: :patch
