<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>What's Up in Brian's World</title>

<!-- CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/blog.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alegreya+SC:700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="blog-masthead">
  <div class="container">
    <%= erb :nav %>
  </div>
</div>
<div class="container">
  <div class="blog-header">
    <%= erb :header %>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <%= erb yield %>
    </div>
    <!-- /.blog-main -->
    
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <%= erb :sidebar %>
    </div>
    <!-- /.blog-sidebar --> 
    
  </div>
  <!-- /.row --> 
  
</div>
<!-- /.container -->

<div class="blog-footer">
  <%= erb :footer %>
</div>

</body>
</html>