%p
  %b Name:
  = @location.name

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
%p
= link_to 'Add Course', new_location_course_path(@location)
%ul 
  Courses
  - @courses.each do |course|
    %li
      = link_to course.name, location_course_path(@location, course)
      |
      = link_to "Edit", edit_location_course_path(@location, course)
      |
      = link_to "Delete", location_course_path(@location, course), method: :delete
%p
= link_to 'Home', root_path
