%tr{ class: "#{submission.workflow_state} submission submission_#{submission.id}"}
  %td
    = link_to submission.name, location_course_assignment_submission_path(@location, @course, @assignment, @submission, anchor: "submission-details"), class: "box"
  %td
    (#{submission.workflow_state})
  %td
    = workflow_links(submission)
