<html>
<head>
  <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

  <div class="container">

    <div class="header">
      <!-- logo, top nav and head title -->
        <%= erb :header %>
    </div><!-- end header -->

    <div class="nav-main">
      <!-- logo, top nav and head title -->
      <%= erb :nav %>
    </div><!-- end navbar -->

    <div class="billboard">
      <!-- logo, top nav and head title -->
      <%= erb :billboard %>
    </div><!-- end billboard -->

    <div class="left-column">
      <!-- your main content -->
      <%= erb yield %>
    </div><!-- end main content -->

    <div class="right-column">
      <!-- your sidebar -->
      <%= erb :sidebar %>
    </div><!-- end sidebar -->

    <div class="footer">
      <!-- your footer -->
      <%= erb :footer %>
    </div><!-- end footer -->

  </div><!-- end container -->

</body>
</html>