%h1 Listing courses

/ %p#notice= notice

%table
  %tr
    %th Name
    / %th Location
    %th
    %th
    %th

  - @courses.each do |course|
    %tr
      %td= course.name
      / %td= course.location_id
      %td= link_to 'Show', location_course_path(@location, course)
      %td= link_to 'Edit', edit_location_course_path(@location, course)
      %td= link_to 'Destroy', location_course_path(@location, course), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Course', new_location_course_path
%p
= link_to 'Home', root_path
