%p#notice= notice

%p
  %b Name:
  = @course.name
%p

= link_to 'Edit Course', edit_location_course_path
\|
= link_to 'Back', location_courses_path
\|
= link_to 'Add New Course', new_location_course_path(@location, @course)
%p
= link_to 'Add Assignment', new_location_course_assignment_path(@location, @course, @assignment)
%p
= link_to 'Home', root_path
