/ = form_for @patient, :html => {:class => "form-horizontal"} do |f|
= form_for @patient do |f|
  = f.label :name
  = f.text_field :name, placeholder: "Patient Name"
  %br
  = f.label :description
  = f.text_area :description, placeholder: "Describe symptoms"
  %br
  = f.submit
%hr
= link_to "home", root_path
